[mongrey]
enabled  = true
usedns   = no
port     = 9999
filter   = mongrey
logpath  = /var/log/supervisor/messages
maxretry = 2
bantime  = 604800
#sendername = Fail2Ban
#banaction = iptables-multiport
#destemail = admin@example.net
