[mmw]
enabled  = true
usedns   = no
port     = http,https
filter   = mmw
logpath  = /var/log/supervisor/mmw.log
maxretry = 2
bantime  = 604800
#sendername = Fail2Ban
#banaction = iptables-multiport
#destemail = admin@example.net
